*{
  box-sizing: border-box;
}
 
 body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(10, 10, 10);
} 

.navbar-dark {
  background-color: #500c0c;
}



/* .form {
  display:grid;
} */

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px #4484C4;

}

section {
  padding: 15px;

}

.headfont {
  padding-top:50px;
  padding-bottom: 30px;
  color:rgb(151, 142, 142);
  text-align: center;
}

.bodyfont {
  color:rgb(133, 122, 122)
}

header h1 {
  margin-top:200px;
  color: rgb(151, 122, 122);
  text-align: center;
  font-size: 48px;
  font-weight: 500px;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
 
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 30px;

  border: none;
  outline: none;
  background: none;
  

  background-color:white;
  border-radius: 8px;

  
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.input {
  padding: 0.3rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px - 15px;
 
}

.results .result {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  

  cursor: pointer;
}


.result .result img {
  display: block;
  width: 100%;
}

.result h3 {
  color: rgb(121, 108, 108);
  font-size: 20px;
 
}

.result .result h3 {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background: #68b2f7;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
  text-align: center;
}

.results .result:hover h3 {
  background: rgb(169, 193, 221);
  color: black;
}

.popup {
  position: fixed;
  top: 0;
  
  width: 50vw;
  height: 75vh;
  background-color: #29292b;

  overflow-y: scroll;
}

.popup .content {
  
  display: block;
  width: 100%;
  max-width: 960px;
  margin-top: 30px;
  padding: 25px;
  color: rgb(165, 138, 138);
}

.popup .content h2 {
  font-size: 25px;
  font-weight: 500;

}

.popup .content h2 span {
  font-weight: 100;
  font-size: 20px;
}

.popup .content .rating {
  margin-bottom: 30px;
}

.popup.content .plot {
  display: flex;
  flex-wrap: wrap;
  
}

.popup .content .plot img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.cardtitle {
  border-bottom: solid 2px black;
  font-size: 20px;
}

/* .cardtext {
  font-family: "Open Sans", sans-serif;
} */

 .entirecard {
  margin-bottom: 50px;
  
} 

/* .blogtitle {
  color: rgb(161, 154, 154);
  margin-top: 50px;
  Margin-bottom: 50px;
  font-size: 50px;
  background-color: rgb(14, 13, 13);
} */

.movieexample {
  color:rgb(139, 109, 109);
  text-align: right;
  margin-right: 20px;
}
/* 
.bloginfotitle {
  font-size: 30px;
  border-bottom: solid ;
} */

.rating {
  text-align: right;
  color: rgb(10, 99, 182);
  font-size: 15px;

}

.blogcardtitle {
  font-size: 20px;
  border-bottom: solid rgb(80, 10, 10) ;
}

.bloginfocard.card {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.blogtitle {
  color:  rgb(175, 133, 133);
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  border-bottom: solid 1px;
  padding-bottom: 20px;
}

.blogtitle2 {
  color: rgb(175, 133, 133);
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
}

.comments h4{
  text-align: center;
  color:rgb(175, 133, 133);
  font-size: 25px;
  margin-top: 30px;
  border-top: solid 1px rgb(54, 46, 46);
  padding-top: 30px;
  
}

.comments {
  margin-top: 50px;
}